body{
	background-color: gray;
}
#calc{
	position: relative;
	background-color: powderblue;
	width: 325px;
	height: 400px;
	left: 40%;
	padding: 10px;
	border-radius: 15px;
}
input, label{
	position: relative;
	text-align:center;
	width: 130px;
}
select{
	width: 138px;
}